.index_main h3{
	font-weight:400;
}
.index_ad{ padding: 20px 0;}
.index_cont{
	padding-bottom: 5px;
}
.index_cont h3{
	color:#333333;
	line-height:26px;
	font-size: 24px;
	padding-left: 11px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom: 10px;
	background: url(../images/leline.png) left 2px no-repeat;
}
.index_cont_l{
	width: 328px;
}
.index_cont_m{
	width: 390px;
	margin-left: 42px;
}
.index_cont_r{
	width: 480px;
}
.column{
	padding-top: 20px;
	padding-bottom: 15px;
}
.won_rev li p{
	color:#314861;
	font-size: 18px;
}
.won_rev li h4{
	color:#6a6a6a;
	font-size: 14px;
}
/*热门话题*/
.column .hotnews li img{
	float: left;
	padding-right: 13px;
}
.column .hotnews li a{
	font-size:18px;
	color:#314861;
	line-height:32px;
}
.column .hotnews li p{
	font-size:16px;
	color:#6a6a6a;
	line-height:24px;
}
.column .intro{
	padding:9px 0 15px 0 ;
}
/*精彩评论*/
.won_rev li{
	border-bottom: 1px dashed #e5e5e5;
	padding: 20px 15px 0 5px;
}
.won_rev li:last-of-type{
	border-bottom: 0;
}
.won_rev li a{
	font-size:18px;
	color:#314861;
	line-height:19px;
}
.won_rev li a h4{
	font-size: 12px;
	color: #666666;
	line-height: 38px;
}
/*热点聚焦*/
.hotfocus li{
	background: url(../images/item.jpg) no-repeat left center;
	padding-left: 8px;
	margin-left: 2px;
    width: 382px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	}
.hotfocus .bold-item a{
	font-size: 20px;
	line-height: 52px;
	font-weight: 600;
}
.hotfocus a{
	font-size:18px;
	color:#314861;
	line-height:36px;
}
.new_message li{
	padding-bottom: 16px;
}
/*轮播图*/
.carousel{
	padding-top: 20px;
	width:480px;
	height:270px;
	overflow: hidden;
	position: relative;
}
.carousel .swiper-slide img{
	width:100%;
}
.carousel p{
	position: absolute;
	bottom: 0;
	background:rgba(0,0,0,0.5);
	width:465px;
	height:48px;
	line-height: 48px;
	font-size:20px;
	color:#ffffff;
	padding-left: 15px;
}
.carousel p span{
	float: right;
	padding-right: 25px;
}
.carousel p i{
	color: #ec5c20;
}
.index_cont_r .column:nth-of-type(2) h3{
	border-bottom: 0;
	margin-bottom: 20px;
}
.index_cont_r .video{
	padding-top: 40px;
    font-size: 18px;
    line-height: 32px;
}
.index_cont_r .video .videolist .float_l{
	display: block;
	position: relative;
	height: 116px;
	width: 205px;
}
.index_cont_r .video .videolist {
	margin-bottom: 20px;
}
.index_cont_r .video .videolist img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.videolist ul{
	float: left;
	margin-top: -10px;
}
.videolist ul li{
	background: url(../images/item.jpg) no-repeat left center;
	padding-left: 15px;
	margin-left: 20px;
}
.videolist ul li a{
	font-size:18px;
	color:#314861;
	line-height: 32px;
}
.index_cont_r .video .videolistb{ margin-bottom: 0;}
.index_bk .column:nth-child(odd){
    height: 430px;
}
.videolistb ul li{
	margin-left: 0;
}
.indbanc{
	margin: 10px auto;
}
/*专题专栏*/
.subject img{
	margin: 10px 0;
}
.borbtm{
	border-bottom: 0 !important;
}
/*下载模块*/
.download{
	padding-top: 17px;
    width: 502px;
}
.download li{
	float: left;
	padding-right: 19px;
	margin-bottom: 38px;
}
.download li img{
	float: left;
	padding-right: 10px;
	width: 58px;
}
.download li p{
	float: right;
	font-size:16px;
	color:#4a4a4a;
	line-height: 34px;
}
.download li p span,.download li p a{
	display: block;
    width: 80px;
}
.download li p a{
	border:1px solid #d1d1d1;
	border-radius:4px;
	width:70px;
	height:22px;
	text-align: center;
	color:#6a6a6a;
	font-size: 14px;
	line-height: 24px;
}

h3{
	border-bottom: 1px solid #e5e5e5 !important;
	margin-bottom: 0 !important;
}
/*图说世界*/
.index_cont_b{
	padding-top: 15px;
    width: 1292px;
}
.index_cont_b p{
	padding: 22px 0;
	margin-left: -30px;
}
.index_cont_b img{
	float: left;
	padding-left: 30px;
}
