h4{
	font-weight: inherit;
}
.header,.index_ad,.index_cont,.indbanc,.footer,.newsdetail_cont{
	width: 1290px;
	margin: 0 auto;
}
.newsdetail_cont{
	padding-top: 25px;
}
.nd_cont_left{
	width: 889px;

}
.nd_cont_right{
	width: 355px;
}
.nd_text_title{
	border-bottom: 1px solid #f3f3f3;
}
.related{
	font-size:14px;
	color:#aeaeae;
	padding: 0 10px 6px 10px;
	line-height: 44px;
}
.related img{
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
}
.related .float_r span{
	padding-left: 10px;
}
.nd_text_cont{
	padding-top: 47px;
	padding-bottom: 40px;
}
.nd_text_cont .text_pic{
	text-align: center;
	text-indent: 0;
}
.nd_text_cont p{
	text-indent: 2em;
	margin-bottom: 30px;
}
.nd_text_cont p img{
	display: inline-block;
}
.nd_text_cont{
	font-size:18px;
	color:#000000;
	line-height:28px;
}
.give_t{
	padding-bottom: 15px;
	margin-bottom: 20px;
	padding-left: 5px;
}
.give_t p{
	float: left;
	font-size:24px;
	color:#ec5c20;
}
.give_t .give_up{
	margin-right: 30px;
}
.give_t .give_down{
	color:#314861;
}
.give_t img{
	display: inline-block;
	vertical-align: text-top;
	padding-right: 14px;
}
.nd_text_page{
	line-height: 52px;
	font-size:14px;
	color:#314861;
}
.nd_text_page span{
	font-weight: 600;
}
.nd_text_page a{
	font-size:14px;
	color:#6a6a6a;
}
/*评论*/
.nd_text_comment{
	padding-top: 30px;
}
.nd_text_comment form{
	position: relative;

}
.nd_text_comment form textarea{
	resize:none;
	border:1px solid #d1d1d1;
	width:858px;
	height:106px;
	margin: 18px 0 20px 0;
	outline: none;
	padding: 20px 15px;
	font-size:18px;
	color:#4a4a4a;
	line-height: 32px;
}
.nd_text_comment .tip{
	position: absolute;
	top: 40px;
	left: 15px;
	font-size: 18px;
	color: #6a6a6a;
}
.text_validate .float_l input{
	width: 115px;
	height: 44px;
	border: 0;
	border-bottom:1px solid #e0e0e0;
	padding-left: 15px;
	font-size:18px;
	color:#9b9b9b;
}
.text_validate{
	margin-bottom: 40px;
}
::-webkit-input-placeholder {
font-size:18px;
color:#9b9b9b;
}
:-moz-placeholder {
font-size:18px;
color:#9b9b9b;
}
::-moz-placeholder {
font-size:18px;
color:#9b9b9b;
}
:-ms-input-placeholder {
font-size:18px;
color:#9b9b9b;
}
.vali_pic{
	display: inline-block;
	vertical-align: middle;
}
.text_validate .float_r,.validate_more{
	border:1px solid #e0e0e0;
	border-radius:4px;
	width:142px;
	height:46px;
	text-align: center;
	line-height: 46px;

}
/*热门评论*/
.hot_validate{
	padding-bottom: 60px;
}
.hot_validate h3{
	font-size:24px;
	color:#333333;
	letter-spacing:0.29px;
	line-height:36px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
.hot_validate h3 span{
	font-size:24px;
	color:#9d9d9d;
}
.hot_validate ul{
	padding-bottom: 30px;
}
.hot_validate li{
	overflow: hidden;
	zoom: 1;
	line-height: 30px;
	font-size:18px;
	color:#4a4a4a;
	padding: 30px 10px;
	border-bottom: 1px solid #e5e5e5;
}
.hot_validate li .hot_img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}
.hot_validate li p span{
	display: block;
}
.hot_validate span em{
	color: #ec5c20;
	font-weight: 600;
}
.hot_validate span b{
	color: #9b9b9b;
	font-size: 14px;
	padding-left: 30px;
}
.validate_more{
	display: block;
	margin: 0 auto;
}
.hot_validate li .hot_img+p{
	margin: 6px 0;
}
